
.select__type{
    width: 18rem;
    height: 4.25rem; 
    /* margin-left: 28.14px; */
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    color: #0F0F2D;
    border: none;
    padding: 10px;
}


.select__type__options{
   
    font-size: 18px;
    font-family: Roboto;
    Margin-top: 14.65px; 
    
  
}
.select__type__options::first-letter {
    text-transform: uppercase;
}
